body{
    background-color: rgb(129, 128, 128);
    
}
header{
    border: 1px black solid;
}
.title{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;

}
a{
    border: 1px black solid;
    margin-left:925px;
    border-radius: 10%;
}
p{
    text-align: center;
    color:red;    
    border: 1px black solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding:5px;

}

